* {
    font-family: Consolas;
    padding: 0;
    margin: 0;
    border-width: 0;

    
}

button {
    padding: 2px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: lightgrey;
    color: black;
}

.poster-image {
    width: 250px;
    height: 350px;
    padding: 5px;
    display: block;
    position: relative;
}

.box {
    width: 250px;
    margin: 10px;
    color: lightgrey;

}

.movie-title {
    padding: 5px 0px 5px 0px;
    margin: 5px;
}

#movie_container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

#search_bar {
    padding: 2px;
    height: 20px;
    background-color: lightgrey;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

#icon-popcorn {
    width: 70px;
    height: 70px;
}

.star-icon {
    padding-top: 8px;
    width: 15px;
    height: 15px;
}

.information {
    background-color: white;
    padding: 8px;
    color: black;
    width: 100%;
    height: 100%;
    margin: 10px;
    z-index: 1;
}

.info {
    display: flex;
    flex-direction: row;
}

.information_panel .movie-image {
    
    padding-right: 20px;
}

.information_panel .movie-info {
    padding-right: 20px;
}

.information_panel .movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#information_close {
    position: relative;
    left: 50%;
}

header {
    padding: 15px;
    text-align: center;
    background-color: #212121;
    color: white;
}

body {
    background-color: black;
}
#body-content {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
}

#now_playing {
    margin: 5px;
    padding: 5px;
    color: lightgrey;
}

#bottom-button-area {
    text-align: center;
    padding: 5px;
    position: relative;
    
}
